.hero {
    height: 34.625rem;
    position: relative;
}

.hero_background {
    position: absolute;
    z-index: -1;
    object-fit: contain;
    object-position: center;
}

.hero_copy {
    width: 50vw;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 7.5rem 1.875rem;
}

.hero_copy h2 {
    margin: 0;
    margin-bottom: 3rem;
    font-size: 7.5rem;
    color: var(--color-primary);
    letter-spacing: -0.3125rem;
    line-height: 7.5rem;
}

.hero_copy p {
    margin: 0;
    font-size: .9375rem;
    line-height: 1.875rem;
    color: var(--color-copy--alt);
}