@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&family=Roboto&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

* {
    box-sizing: border-box;
}

:root {
    font-family: 'Montserrat', sans-serif ;
    font-size: 16px;
    --color-copy: #333;
    --color-primary: #ffc500;
    --default-padding: 1rem;
    color: var(--color-copy);
}

body {
    margin: 0;
    padding-top: 7.75rem;
}


header, main, footer {
    overflow-x: hidden;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

header h6 {
    margin: 0;
}

ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

li {
    margin-right: 0.625rem;
}

.navbar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;

    background-color: #000;
    color: #fff;
}

.navbar_container {
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;

    width: 100vw;
    height: 7.75rem;
    padding: 0 1rem;

    
}

.navbar__links {
    justify-self: end;
}

.navbar__links li {
    margin-right: 3rem;
    font-size: 0.875rem;
    text-transform: uppercase;
}

.navbar__links a {
    font-weight: 300;
    text-decoration: none;
    color: #fff;
}

.navbar__links a:hover {
    color: var(--color-primary);
}

.logo-studion {
    font-weight: 900;
    font-size: 2.375rem; 
    text-transform: uppercase;
    text-align: right;
    line-height: 1ch; /*relativa ao tamanho da altura do caracter 0 */
}

.logo-studion_subtitle {
    font-weight: 300;
    font-size: .875rem;
    float: right;
}

.copy--primary {
    color: var(--color-primary);
}

#slider {
    background-color: black;
    color: white;
}
.slide {
    position: relative;
    height: calc(100vh - 7.75rem);
}

.slide_background-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.slide_copy {
    position: absolute;
    top: 6.25rem;
    left: 50vw;
}

.slide_copy h6 {
    font-size: .9375rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .1875rem;
}

.slide_copy h2 {
    font-size: 6.25rem;
    text-transform: uppercase;
    line-height: 6.25rem;
}

.slide_copy h2 span {
    display: block;
}

.btn {
    cursor: pointer;
    padding: 1.25rem 2.5rem;
    color: var(--color-primary);
    background: unset;
    border: .125rem solid #fff;
    border-radius: 5rem;
    font-size: .9375rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s all ease;
}

.btn:hover, .btn:active, .btn:focus, .btn-institutional {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    color: #fff;
}

#counter {
    background-color: var(--color-primary);
    color: #fff;
    text-transform: uppercase;
}

.counter_container {
    padding: 4.375rem 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    place-items: center;
}

.counter_container h3 {
    font-size: 2.1875rem;
}

.counter_container h3 small {
    display: block;
    font-size: 1.25rem;
}

.institutional {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 4.375rem 1rem;
    gap: 3.125rem;
}

.institutional_image {
    max-width: 640px;
}

.institutional_copy {
    padding: 0 1.875rem;
}

.institutional_copy h6 {
    font-size: 0.875rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin: 0;
}

.institutional_copy h4 {
    font-size: 1.5625rem;
    margin-top: 1rem;
}

.institutional p {
    font-family: 'Roboto', 'sans-serif';
    font-size: 1.0625rem;
    line-height: 1.6875rem;
    margin-bottom: 0;
    margin-bottom: 2.5rem;
}

.btn-institutional:hover {
    color: var(--color-copy);
    background: unset;
}

.quote {
    background-image: url(./images/parallax.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.quote_container {
    min-height: 80vh;
    display: grid;
    align-items: center;
    justify-items: end;
}

.quote_copy {
    background-color: #fff;
    padding: 5.625rem 4.375rem;
}

.quote_copy h6 {
    font-size: .9375rem;
    font-weight: 400;
    letter-spacing: .1875rem;
    line-height: 1.4375rem;
    max-width: 50ch;
    text-transform: uppercase;
    margin: 0;
}

.quote_copy h2 {
    font-size: 5rem;
    line-height: 5rem;
    text-transform: uppercase;
    letter-spacing: -.1875rem;
    margin: 1.875rem 0;
}

.quote_copy h2 span {
    display: block;
}

.btn-quote {
    color: var(--color-copy);
    border-color: var(--color-copy);
    background: unset;
}

.footer {
    background-color: #000;
    color: #fff;
}

.footer_container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    padding: 5.25rem 0 3.75rem 0rem;
}

.footer .logo-studion {
    justify-self: start;
    margin: 0;
}

.footer h2 {
    width: 11.25rem;
}

.footer_form {
    display: grid;
    place-items: center;
    grid-template-columns: 9ch auto;
    gap: 1.25rem;
}

.footer_form label {
    font-size: .875rem;
    font-weight: 300;
    text-align: center;
}

.footer_form fieldset {
    position: relative;
    border: unset;
    padding: 0;
    margin: 0;
    width: 100%;
}

.footer_form input {
    width: 100%;
    background-color: var(--color-primary);
    border: unset;
    padding: 1rem;
    font-size: .875rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
}

.footer_form input::placeholder {
    color: #000;
}

.footer_form input:focus {
    outline: unset;
}

.footer_form button {
    cursor: pointer;
    position: absolute;
    border: unset;
    height: 100%;
    padding: .375rem .625rem;
}

.footer_form button:hover {
    background-color: var(--color-copy);
    transition: 0.15s all ease;
}

.footer_social {
    justify-self: end;
    
}

.footer_social a, 
.footer_social a:visited, 
.footer_social:active {
    color: #fff;
    margin-left: .2rem;
}

.footer_social a .fa-twitter,
.footer_social a:visited .fa-twitter, 
.footer_social:active .fa-twitter {
    color: #000;
}

.footer hr {
    border-color: #fff4;
    margin: 0;
}

.footer p {
    text-align: center;
    font-weight: 300;
    margin: 2.5rem 0;
}